body{
  background-image: url("masala.jpg");
    margin: 0;
    padding: 0;

}
.cover{
  color: red;
    font-size: 25px;
    top: 0%;
    left: 35%;
}
.reg{
  color: red;
  padding: 5% 15%;
   background-image: url(bread.jpg);
   border:2px solid black;
    margin: 7% 25%;
   border-radius: 30px;
   

}

#sub{
    border:1px black solid;
    padding: 5px;
    background-color: rgb(116, 116, 202);
}
#sub :hover{
    box-shadow: lawngreen;
    color: lightblue;
    padding: 8px;

}
.button{
  background-color: #4CAF50; /* Green */
  border: 2px solid lawngreen;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 25px;
  box-shadow:grey;

}
.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  #log{
      color:black;
      font-size: 25px;
  }
  .column {
    float: left;
  }
  
  /* Left and right column */
  .column.side {
    width: 25%;
  }
  
  /* Middle column */
  .column.middle {
    width: 50%;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column.side, .column.middle {
      width: 100%;
    }
  }
  footer{
    background-color: rgb(133, 248, 38);
    padding: 2%;
  }
  .foo{
    padding: 20px;
  }

